@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Dashboard Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ECECEC;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E;
}
